<% editar ||= false %>
<%= form_for(@fecha) do |f| %>
  <% if @fecha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fecha.errors.count, "error") %> prohibited this fecha from being saved:</h2>

      <ul>
      <% @fecha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  
  <label>Empleados</label>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rut</th>
        <th>Email</th>
        <th>Sueldo</th>
        <th>Fecha ingreso</th>
      </tr>
    </thead>

    <tbody>
      <% if empleados != nil %>
        <% empleados.each do |employee| %>
          <tr>
            <td><%= check_box_tag "employees[]", employee.id, checked: true  %><%= employee.nombre %></td>
            <td><%= employee.rut %></td>
            <td><%= employee.email %></td>
            <td><%= employee.sueldo %></td>
            <td><%= employee.fecha_ingreso %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% if editar %>
    <label>Empleados ausentes </label>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Rut</th>
          <th>Email</th>
          <th>Sueldo</th>
          <th>Fecha ingreso</th>
        </tr>
      </thead>

      <tbody>
        <% if empleados2 != nil %>
          <% empleados2.each do |employee| %>
            <tr>
              <td><%= check_box_tag "employees2[]", employee.id %><%= employee.nombre %></td>
              <td><%= employee.rut %></td>
              <td><%= employee.email %></td>
              <td><%= employee.sueldo %></td>
              <td><%= employee.fecha_ingreso %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
