<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @employee.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @employee.rut %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @employee.clave %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Sueldo:</strong>
  <%= @employee.sueldo %>
</p>

<p>
  <strong>Fecha ingreso:</strong>
  <%= @employee.fecha_ingreso %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
