<%= form_for(@assistance) do |f| %>
  <% if @assistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assistance.errors.count, "error") %> prohibited this assistance from being saved:</h2>

      <ul>
      <% @assistance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha_id %><br>
    <%= f.text_field :fecha_id, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id , class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :asiste %><br>
    <%= f.check_box :asiste , class: 'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
