<p id="notice"><%= notice %></p>

<p>
  <strong>Asiste:</strong>
  <%= @assistance.asiste %>
</p>

<p>
  <strong>Licencia:</strong>
  <%= @assistance.licencia %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @assistance.fecha %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @assistance.Employee %>
</p>

<%= link_to 'Edit', edit_assistance_path(@assistance) %> |
<%= link_to 'Back', assistances_path %>
