<%= form_for(@matter) do |f| %>
  <% if @matter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matter.errors.count, "error") %> prohibited this matter from being saved:</h2>

      <ul>
      <% @matter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="caja">
    <div class="field">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre, class: 'form-control', :onkeypress => "return sololetras(event)"%>
    </div>
    <div class="field">
      <%= f.label :medida %><br>
      <%= f.text_field :medida, class: 'form-control', :onkeypress => "return sololetras(event)" %>
    </div>
    <div class="field">
      <%= f.label :saldo %><br>
      <%= f.text_field :saldo, class: 'form-control', :onkeypress => "return solonumeros(event)" %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-primary margenes", value: texto%>
      <% if texto=="Editar" %>
        <%= link_to 'Mostrar', @matter,class: "btn btn-info margenes" %> 
      <% end %>
      <%= link_to 'Volver', matters_path ,class: "btn btn-default margenes"%>
    </div>
  </div>
<% end %>
