<p id="notice"><%= notice %></p>

<h1>Listing Bill Products</h1>

<table>
  <thead>
    <tr>
      <th>Bill</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_products.each do |bill_product| %>
      <tr>
        <td><%= bill_product.Bill %></td>
        <td><%= bill_product.Product %></td>
        <td><%= link_to 'Show', bill_product %></td>
        <td><%= link_to 'Edit', edit_bill_product_path(bill_product) %></td>
        <td><%= link_to 'Destroy', bill_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill product', new_bill_product_path %>
