<% if can? :create, :Usuario %>
	<h1>Nuevo Usuario</h1>	
	<div class="row margen-negative">
    	<div class="col-md-3 left-block no-float">
        	<%= form_for(@usuario) do |f| %>
		  	<% if @usuario.errors.any? %>
		    	<div id="error_explanation">
			      	<h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
			      	<ul>
			      		<% @usuario.errors.full_messages.each do |message| %>
			        	<li><%= message %></li>
			      		<% end %>
			      	</ul>
		    	</div>
		  	<% end %>

	        <div class="form-group">
                <%= f.label :nombre %><br />
                <%= f.text_field :nombre, autofocus: true, class:"form-control" %>
	        </div>

	            <div class="form-group">
	                <%= f.label :email %><br />
	                <%= f.email_field :email, autofocus: true, class:"form-control" %>
	            </div>

	            <div class="form-group">
	                <%= f.label :password , value: "Contraseña"%>
	                <% if @minimum_password_length %>
	                <em>(<%= @minimum_password_length %> caracteres minimo)</em>
	                <% end %><br />
	                <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
	            </div>

	            <div class="form-group">
	                <%= f.label :password_confirmation, value: "Confirme Contraseña" %><br />
	                <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
	            </div>

	            <div class="form-group">
	                <%= f.label :permission_level, value: "Grado" %>
	                <select name="usuario[permission_level]" id="usuario_permission_level" class="form-control">
					  <option value="0">Trabajador</option>
					  <option value="1">Administrador</option>
					</select>
	            </div>

	            <div class="text-left">
	                <%= f.submit "Sign up", class:"btn btn-info" , value: "Registrarse"%>
	            </div>
	        <% end %>
	    </div>
	</div>

<% else %>
	<%= render '/noPermission' %>
<% end %>