<% editar ||= false %>
<% customer ||= nil %>
<% cantidades_products ||= nil %>

<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="caja">
    <div class="field">
      <%= f.label :numero %><br>
      <%= f.number_field :numero , class: 'form-control', :onkeypress => "return solonumeros(event)" %>
    </div>
    <div class="field">
      <%= f.label :fecha %><br>
      <input id="bill_fecha" type='date' min='2016-09-28' max='2016-08-28' class="form-control" name="bill[fecha]"></input>
    </div>
    <div class="field">
      <%= f.label :razon_social %><br>
      <%= f.text_field :razon_social , class: 'form-control', :onkeypress => "return sololetras(event)"%>
    </div>
    <div class="field">
      <%= f.label :giro_comercial %><br>
      <%= f.text_field :giro_comercial , class: 'form-control', :onkeypress => "return sololetras(event)"%>
    </div>
    <div class="field">
      <%= f.label :monto_neto %><br>
      <%= f.number_field :monto_neto , class: 'form-control', :onkeypress => "return solonumeros(event)"%>
    </div>
    <div class="field">
      <%= f.label :iva %><br>
      <%= f.number_field :iva , class: 'form-control', :onkeypress => "return solonumeros(event)"%>
    </div>
    <div class="field">
      <%= f.label :total %><br>
      <%= f.number_field :total , class: 'form-control', :onkeypress => "return solonumeros(event)"%>
    </div>
    <div class="field">
      <%= f.label :customer_id, value:"Cliente"%>
      <% if customer == nil %>
        <%= collection_select( :bill, :customer_id, Customer.all, :id, :nombre, {}, {:class => 'form-control', :multiple => false})%>
      <% else %>
        <%= collection_select( :bill, :customer_id, Customer.listaFalsa(customer), :id, :nombre, {}, { :multiple => false})%>
      <% end %>
    </div>
  </div>
  
  <% if editar %>
    <%= render '/tableProducts1', productos: @bill.products, productos2: Product.diferencia(@bill.products), cantidades_products: BillProduct.cantidades(@bill.id, 1) ,editar: editar %>
  <% else %>
    <%= render '/tableProducts1', productos: productos ,editar: editar, cantidades_products:cantidades_products %>
  <% end %>
  

  <div class="actions">
    <%= f.submit class: "btn btn-primary margenes", value: texto%>
    <% if texto=="Editar" %>
      <%= link_to 'Mostrar', @bill , class: "btn btn-info margenes"%> 
    <% end %>
    <%= link_to 'Volver', bills_path , class: "btn btn-default margenes"%>
  </div>
<% end %>
