<% editar ||= false %>

<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :razon_social %><br>
    <%= f.text_field :razon_social %>
  </div>
  <div class="field">
    <%= f.label :giro_comercial %><br>
    <%= f.text_field :giro_comercial %>
  </div>
  <div class="field">
    <%= f.label :monto_neto %><br>
    <%= f.text_field :monto_neto %>
  </div>
  <div class="field">
    <%= f.label :iva %><br>
    <%= f.text_field :iva %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :customer_id%>
    <%= collection_select( :bill, :customer_id, Customer.all, :id, :nombre, {}, { :multiple => false})%>
  </div>
  
  <%= render '/tableProducts1', productos: productos, editar:editar %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
