<h1>Listando Facturas</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Razon social</th>
      <th>Giro comercial</th>
      <th>Monto neto</th>
      <th>Iva</th>
      <th>Total</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.numero %></td>
        <td><%= bill.fecha %></td>
        <td><%= bill.razon_social %></td>
        <td><%= bill.giro_comercial %></td>
        <td><%= bill.monto_neto %></td>
        <td><%= bill.iva %></td>
        <td><%= bill.total %></td>
        <td><%= bill.customer.nombre %></td>
        <td><%= link_to 'Mostrar', bill %></td>
        <td><%= link_to 'Editar', edit_bill_path(bill) %></td>
        <% if can? :destroy, :Bill %>
          <td><%= link_to 'Destruir', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Factura', new_bill_path , class: "btn btn-primary margenes"%>
<% if can? :crud, :Bill %>
<% else %>
  <%= render '/noPermission' %>
<% end %>