<% if can? :crud, :Customer %>
  
  <h1>Listando Clientes</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rut</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Direccion</th>
        <th>Razon Social</th>
        <th>Giro comercial</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.nombre %></td>
          <td><%= customer.rut %></td>
          <td><%= customer.telefono %></td>
          <td><%= customer.email %></td>
          <td><%= customer.direccion %></td>
          <td><%= customer.razon_social %></td>
          <% @giros.each do |giro|%>
            <% if giro.id == customer.giro_comercial_id %>
              <td><%= giro.nombre %></td>
            <% end %>
          <% end %>
          <td><%= link_to 'Mostrar', customer %></td>
          <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Cliente', new_customer_path , class: "btn btn-default margenes"%>
<% else %>
  <%= render '/noPermission' %>
<% end %>