<% if can? :read, :Customer %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @customer.nombre %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= @customer.rut %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @customer.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @customer.email %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= @customer.direccion %>
  </p>

  <label>Pedidos</label>

  <table>
    <thead>
      <tr>
        <th>Numero</th>
        <th>Fecha</th>
        <th>Fecha final</th>
        <th>Estado</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @customer.orders.each do |order| %>
        <tr>
          <td><%= order.numero %></td>
          <td><%= order.fecha %></td>
          <td><%= order.fecha_final %></td>
          <% if order.estado==0 %>
            <td><%=  Pendiente %></td>
          <% elsif order.estado == 1 %>
            <td><%= "Aceptada - Procesando" %></td>
          <% else %>
            <td><%= Finalizado  %></td>
          <% end %>
          <td><%= link_to 'Mostrar', order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <label>Facturas</label>

  <table>
    <thead>
      <tr>
        <th>Numero</th>
        <th>Fecha</th>
        <th>Razon social</th>
        <th>Giro comercial</th>
        <th>Monto neto</th>
        <th>Iva</th>
        <th>Total</th>
        <th>Cliente</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @customer.bills.each do |bill| %>
        <tr>
          <td><%= bill.numero %></td>
          <td><%= bill.fecha %></td>
          <td><%= bill.razon_social %></td>
          <td><%= bill.giro_comercial %></td>
          <td><%= bill.monto_neto %></td>
          <td><%= bill.iva %></td>
          <td><%= bill.total %></td>
          <td><%= link_to 'Mostrar', bill %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Editar', edit_customer_path(@customer) , class: "btn btn-primary margenes"%> 
  <%= link_to 'Volver', customers_path , class: "btn btn-default margenes"%>
<% else %>
  <%= render '/noPermission' %>
<% end %>