<% editar ||= false %>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="caja">
    <div class="field">
      <%= f.label :numero %><br>
      <%= f.number_field :numero, class: 'form-control', :onchange => "holy()" %>
    </div>
    <div class="field">
      <%= f.label :fecha %><br>
      <input id="order_fecha" type='date' min='2000-01-01' max='2017-12-12' class="form-control" name="order[fecha]"></input>
    </div>
    <div class="field">
      <%= f.label :fecha_final %><br>
      <input id="order_fecha_final" type='date' min='2000-01-01' max='2017-12-12' class="form-control" name="order[fecha_final]"></input>
    </div>
    <div class="field">
      <%= f.label :detalle %><br>
      <%= f.text_field :detalle , class: 'form-control'%>
    </div>
    <div class="field">
      <%= f.label :cantidad %><br>
      <%= f.number_field :cantidad , class: 'form-control'%>
    </div>
    <div class="field">
      <%= f.label :medida %><br>
      <%= f.text_field :medida, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :customer_id, value: "Cliente"%>
      <%= collection_select( :order, :customer_id, Customer.all, :id, :nombre, {},{ :class => 'form-control', :multiple => false}) %>
    </div>
  </div>
  <% if editar %>
    <%= render '/tableProducts1', productos: productos, editar:editar, productos2: productos2, cantidades_products: cantidades_products %>
    <%= render '/tableMatters1', materiales: materiales, materiales2: materiales2, cantidades_matters: cantidades_matters, editar:editar%>
  <% else %>
    <%= render '/tableProducts1', productos: productos, editar:editar %>
    <input type="button" name="llenar" id="llenar" value="Buscar materiales" class="btn btn-info margenes">
    <%= render '/tableMatters1', materiales: materiales, editar:editar%>
  <% end %>
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary margenes", value: texto%>
    <% if texto=="Editar" %>
      <%= link_to 'Mostrar', @order , class: "btn btn-primary margenes"%> 
    <% end %>
    <%= link_to 'Volver', orders_path , class: "btn btn-default margenes"%>
  </div>
<% end %>
