<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :detalle %><br>
    <%= f.text_field :detalle %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :medida %><br>
    <%= f.text_field :medida %>
  </div>
  <div class="field">
    <%= f.label :customer_id%>
    <%= collection_select( :order, :customer_id, Customer.all, :id, :nombre, {}, { :multiple => false})%>
  </div>

  <%= render '/tableProducts1', productos: productos %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
