<% if can? :rud, :Order %>
  
  <h1>Listando Pedidos</h1>

  <table>
    <thead>
      <tr>
        <th>Numero</th>
        <th>Fecha</th>
        <th>Fecha final</th>
        <th>Detalle</th>
        <th>Cliente</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <% if current_customer.id == @order.customer_id %>
            <td><%= order.numero %></td>
            <td><%= order.fecha %></td>
            <td><%= order.fecha_final %></td>
            <td><%= order.detalle %></td>
            <td><%= order.customer.nombre %></td>
            <td><%= link_to 'Mostrar', order %></td>
            <td><%= link_to 'Editar', edit_order_path(order) %></td>
            <% if can? :destroy, :Product %>
              <td><%= link_to 'Destruir', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %> 
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Pedido', new_order_path , class: "btn btn-default margenes"%>
<% else %>
  <%= render '/noPermission' %>
<% end %>