<% if can? :read, :Order %>
  
  <h1>Listando Pedidos</h1>

  <table>
    <thead>
      <tr>
        <th>Numero</th>
        <th>Fecha</th>
        <th>Fecha final</th>
        <th>Cliente</th>
        <th>Estado</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <% begin %>
            <% if current_customer.id == order.customer_id %>
              <td><%= order.numero %></td>
              <td><%= order.fecha %></td>
              <td><%= order.fecha_final %></td>
              <td><%= order.customer.nombre %></td>
              <% if order.estado == 0%>
                <td style="color:#E60026"><%= "Pendiente"  %></td>
              <% elsif order.estado == 1 %>
                <td style="color:#FFE900"><%= "Aceptada - Procesando"  %></td>
              <% else %>
                <td style="color:#009150"><%= "Finalizada"  %></td>
              <% end %>
              <td><%= link_to 'Mostrar', order %></td>
              <% if can? :update, :Order%>
                <td><%= link_to 'Editar', edit_order_path(order) %></td>
              <% end %>
              <% if can? :destroy, :Product %>
                <td><%= link_to 'Destruir', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            <% end %>
          <% rescue  %>
            <td><%= order.numero %></td>
            <td><%= order.fecha %></td>
            <td><%= order.fecha_final %></td>
            <td><%= order.customer.nombre %></td>
            <% if order.estado == 0%>
              <td style="color:#E60026"><%= "Pendiente"  %></td>
            <% elsif order.estado == 1 %>
              <td style="color:#FFE900"><%= "Aceptada - Procesando"  %></td>
            <% else %>
              <td style="color:#009150"><%= "Finalizada"  %></td>
            <% end %>
            <td><%= link_to 'Mostrar', order %></td>
            <% if can? :update, :Order%>
              <td><%= link_to 'Editar', edit_order_path(order) %></td>
            <% end %>
            <% if can? :destroy, :Product %>
              <td><%= link_to 'Destruir', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %> 
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Pedido', new_order_path , class: "btn btn-default margenes"%>
<% else %>
  <%= render '/noPermission' %>
<% end %>