<% if can? :read, :Order %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Numero:</strong>
    <%= @order.numero %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @order.fecha %>
  </p>

  <p>
    <strong>Fecha final:</strong>
    <%= @order.fecha_final%>
  </p>

  <p>
    <strong>Detalle:</strong>
    <%= @order.detalle %>
  </p>

  <p>

  <p>
    <strong>Cliente:</strong>
    <%= @order.customer.nombre %>
  </p>

  <%= render '/tableProducts2', productos: @order.products, cantidades: @order.order_products %>
  <%= render '/tableMatters2', materiales: @order.matters%>

  <%= link_to 'Facturar', params[:id]+'/bill' , class: "btn btn-primary margenes"%>
  <%= link_to 'Editar', edit_order_path(@order) , class: "btn btn-info margenes"%> 
  <%= link_to 'Volver', orders_path , class: "btn btn-default margenes"%>
<% else %>
  <%= render '/noPermission' %>
<% end %>