<p id="notice"><%= notice %></p>

<h1>Listing Matter Products</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Materia</th>
      <th>Cantidad</th>
      <th>Medida</th>
      <th>Matter</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matter_products.each do |matter_product| %>
      <tr>
        <td><%= matter_product.nombre %></td>
        <td><%= matter_product.fecha %></td>
        <td><%= matter_product.materia %></td>
        <td><%= matter_product.cantidad %></td>
        <td><%= matter_product.medida %></td>
        <td><%= matter_product.Matter %></td>
        <td><%= matter_product.Product %></td>
        <td><%= link_to 'Show', matter_product %></td>
        <td><%= link_to 'Edit', edit_matter_product_path(matter_product) %></td>
        <td><%= link_to 'Destroy', matter_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matter product', new_matter_product_path %>
