<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @matter_product.nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @matter_product.fecha %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @matter_product.materia %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @matter_product.cantidad %>
</p>

<p>
  <strong>Medida:</strong>
  <%= @matter_product.medida %>
</p>

<p>
  <strong>Matter:</strong>
  <%= @matter_product.Matter %>
</p>

<p>
  <strong>Product:</strong>
  <%= @matter_product.Product %>
</p>

<%= link_to 'Edit', edit_matter_product_path(@matter_product) %> |
<%= link_to 'Back', matter_products_path %>
