<% if can? :crud, :Usuario %>
  <p id="notice"><%= notice %></p>

  <h1>Listando Usuarios</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Último ingreso</th>
        <th>Fecha de ingreso</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.nombre %></td>
          <td><%= usuario.email %></td>
          <td><%= usuario.created_at %></td>
          <td><%= usuario.last_sign_in_at %></td>
          <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
          <% if can? :destroy, :Usuario %>
            <td><%= link_to 'Destruir', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Usuario', new_usuario_path , class: "btn btn-default margenes"%>
<% else %>
  <%= render '/noPermission' %>
<% end %>