<label>Productos</label>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Unidades</th>
      <th>Cantidad</th>
      <th>Medida</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    <%i=0
    while i < productos.size() %>
      <tr>
        <td><%= productos.at(i).nombre%></td>
        <td><%= productos.at(i).codigo %></td>
        <td><%= productos.at(i).unidades %></td>
        <td><%= @cantidadesProducts.at(i) %></td>
        <td><%= productos.at(i).medida %></td>
        <td><%= productos.at(i).category.nombre %></td>
      </tr>
      <%i+=1%>
    <% end %>
  </tbody>
</table>