<% editar ||= false %>

<div class="field">
  <label>Productos</label>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Codigo</th>
        <th>Unidades</th>
        <th>Cantidad Max</th>
        <th>Medida</th>
        <th>Fecha produce</th>
        <th>Category</th>
        <th>Cantidad</th>
      </tr>
    </thead>

    <tbody>
      <% productos.each do |product| %>
        <tr>
          <td><%= check_box_tag "products[]", product.id, :checked => editar %><%=product.nombre%></td>
          <td><%= product.codigo %></td>
          <td><%= product.unidades %></td>
          <td><%= product.cantidad %></td>
          <td><%= product.medida %></td>
          <td><%= product.fecha_produce %></td>
          <td><%= product.category.nombre %></td>
          <td><%= number_field_tag "cantidadesProducts[]" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if editar %>
  <div class="field">
    <label>Todos los Productos</label>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Codigo</th>
          <th>Unidades</th>
          <th>Cantidad Max</th>
          <th>Medida</th>
          <th>Fecha produce</th>
          <th>Category</th>
          <th>Cantidad</th>
        </tr>
      </thead>

      <tbody>
        <% @productsMiss.each do |product| %>
          <tr>
            <td><%= check_box_tag "products2[]", product.id %><%=product.nombre%></td>
            <td><%= product.codigo %></td>
            <td><%= product.unidades %></td>
            <td><%= product.cantidad %></td>
            <td><%= product.medida %></td>
            <td><%= product.fecha_produce %></td>
            <td><%= product.category.nombre %></td>
            <td><%= number_field_tag "cantidadesProducts2[]" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>