<% editar ||= false %>

<div class="field">
  <label>Productos</label>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Codigo</th>
        <th>Unidades</th>
        <th>Medida</th>
        <th>Fecha produce</th>
        <th>Category</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <% i=0 %>
    <tbody>
      <% productos.each do |product| %>
        <tr>
          <td><%= check_box_tag "products[]", product.id, :checked => editar %><%=product.nombre%></td>
          <td><%= product.codigo %></td>
          <td><%= product.unidades %></td>
          <td><%= product.medida %></td>
          <td><%= product.fecha_produce %></td>
          <td><%= product.category.nombre %></td>
          <% if editar or @cantidadesProducts != nil%>
            <td><%= number_field_tag "cantidadesProducts[]", @cantidadesProducts.at(i) %></td>
          <% else %>
            <td><%= number_field_tag "cantidadesProducts[]", '0' %></td>
          <% end %>
        </tr>
        <% i+=1 %>
      <% end %>
    </tbody>
  </table>
</div>
<% if editar %>
  <div class="field">
    <label>Todos los Productos</label>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Codigo</th>
          <th>Unidades</th>
          <th>Medida</th>
          <th>Fecha produce</th>
          <th>Category</th>
          <th>Cantidad</th>
        </tr>
      </thead>

      <tbody>
        <% if @productsMiss != nil %>
          <% @productsMiss.each do |product| %>
            <tr>
              <td><%= check_box_tag "products2[]", product.id %><%=product.nombre%></td>
              <td><%= product.codigo %></td>
              <td><%= product.unidades %></td>
              <td><%= product.medida %></td>
              <td><%= product.fecha_produce %></td>
              <td><%= product.category.nombre %></td>
              <td><%= number_field_tag "cantidadesProducts2[]", '0' %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>