<% editar ||=false %>
<% cantidades_matters ||=nil %>

<div class="field">
  <label>Materias</label>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Medida</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% if materiales != nil %>
        <% materiales.each do |matter| %>
          <tr>
            
              <td><%= check_box_tag "matters[]", matter.id, :checked => editar %><%=matter.nombre%></td>
              <td><%= matter.medida %></td>
              <% if editar or cantidades_matters != nil %>
                <td><%= number_field_tag "cantidadesMatters[]", cantidades_matters.at(i) , class: 'form-control', :onkeypress => "return solonumeros(event)"%></td>
              <% else %>
                <td><%= number_field_tag "cantidadesMatters[]", '0', class: 'form-control', :onkeypress => "return solonumeros(event)" %></td>
              <% end %>
            
          </tr>
          <% i+=1 %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="field">
  <% if editar %>
    <label>Todas las Materias</label>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Medida</th>
          <th>Saldo</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <% if materiales2 != nil %>
          <% materiales2.each do |matter| %>
            <tr>
              <td><%= check_box_tag "matters2[]", matter.id %><%=matter.nombre%></td>
              <td><%= matter.medida %></td>
              <td><%= matter.saldo %></td>
              <td><%= number_field_tag "cantidadesMatters2[]", '0', class: 'form-control', :onkeypress => "return solonumeros(event)" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
