<% editar ||=false %>

<div class="field">
  <label>Materias</label>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Medida</th>
        <th>Saldo</th>
        <th>Fecha ingreso</th>
        <th>Fecha utiliza</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% materiales.each do |matter| %>
        <tr>
          <td><%= check_box_tag "matters[]", matter.id, :checked => editar %><%=matter.nombre%></td>
          <td><%= matter.medida %></td>
          <td><%= matter.saldo %></td>
          <td><%= matter.fecha_ingreso %></td>
          <td><%= matter.fecha_utiliza %></td></td>
          <% if editar and @cantidadesMatters != nil %>
            <td><%= number_field_tag "cantidadesMatters[]", @cantidadesMatters.at(i) %></td>
          <% else %>
            <td><%= number_field_tag "cantidadesMatters[]", '0' %></td>
          <% end %>
        </tr>
        <% i+=1 %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="field">
  <% if editar %>
    <label>Todas las Materias</label>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Medida</th>
          <th>Saldo</th>
          <th>Fecha ingreso</th>
          <th>Fecha utiliza</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <% if @mattersMiss != nil %>
          <% @mattersMiss.each do |matter| %>
            <tr>
              <td><%= check_box_tag "matters2[]", matter.id %><%=matter.nombre%></td>
              <td><%= matter.medida %></td>
              <td><%= matter.saldo %></td>
              <td><%= matter.fecha_ingreso %></td>
              <td><%= matter.fecha_utiliza %></td></td>
              <td><%= number_field_tag "cantidadesMatters2[]", '0' %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
