<label>Materias</label>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Medida</th>
      <th>Saldo</th>
      <th>Fecha ingreso</th>
      <th>Fecha utiliza</th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% materiales.each do |matter| %>
      <tr>
        <td><%= matter.nombre %></td>
        <td><%= @cantidadesMatters.at(i) %></td>
        <td><%= matter.medida %></td>
        <td><%= matter.saldo %></td>
        <td><%= matter.fecha_ingreso %></td>
        <td><%= matter.fecha_utiliza %></td>
      </tr>
      <% i+=1 %>
    <% end %>
  </tbody>
</table>