<%= form_for(@customer_matter) do |f| %>
  <% if @customer_matter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_matter.errors.count, "error") %> prohibited this customer_matter from being saved:</h2>

      <ul>
      <% @customer_matter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :matter_id %><br>
    <%= f.text_field :matter_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
