<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer_matter.customer %>
</p>

<p>
  <strong>Matter:</strong>
  <%= @customer_matter.matter %>
</p>

<%= link_to 'Edit', edit_customer_matter_path(@customer_matter) %> |
<%= link_to 'Back', customer_matters_path %>
