<%= form_for(@lincense) do |f| %>
  <% if @lincense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lincense.errors.count, "error") %> prohibited this lincense from being saved:</h2>

      <ul>
      <% @lincense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id, value: "Empleado"%>
    <%= collection_select( :lincense, :employee_id, Employee.all, :id, :nombre, {}, {:class => 'form-control', :multiple => false})%>
  </div>
  <div class="field">
    <%= f.label :fechaInicio , value: "Fecha de inicio" %><br>
    <%= f.date_select :fechaInicio, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :duracion %><br>
    <%= f.number_field :duracion, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :detalle %><br>
    <%= f.text_area :detalle, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary margenes", value: texto %>
    <% if texto=="Editar" %>
      <%= link_to 'Mostrar', @lincense, class: "btn btn-info margenes" %> 
    <% end %>
    <%= link_to 'Volver', lincenses_path, class: "btn btn-default margenes" %>
  </div>
<% end %>
