<p id="notice"><%= notice %></p>

<h1>Listando Licencias</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Fechainicio</th>
      <th>Duracion</th>
      <th>Detalle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lincenses.each do |lincense| %>
      <tr>
        <td><%= lincense.employee.nombre %></td>
        <td><%= lincense.fechaInicio %></td>
        <td><%= lincense.duracion %></td>
        <td><%= lincense.detalle %></td>
        <td><%= link_to 'Mostrar', lincense %></td>
        <td><%= link_to 'Editar', edit_lincense_path(lincense) %></td>
        <td><%= link_to 'Destruir', lincense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Licencia', new_lincense_path , class: "btn btn-primary margenes"%>
