<!DOCTYPE html>
<html>
<head>
  <title>Proyect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="be-blue blanco">
			<ul class="row center-xs bloque">
				<li class="col-md tamaño">
					<b><%= link_to "Inicio",root_path %></b>
				</li>
				<% if usuario_signed_in? %>
					<li class="col-md">
						<a class="holy">Empleados</a>
						<ul>
							<li class=""><%= link_to  "Agregar", new_employee_path%></li>
							<li class=""><%= link_to  "Buscar", root_path%></li>
							<li class=""><%= link_to  "Listar", employees_path%></li>
						</ul>
					</li>
					<li class="col-md">
						<a class="">Clientes</a>
						<ul>
							<li class=""><%= link_to  "Agregar", new_customer_path%></li>
							<li class=""><%= link_to  "Buscar", root_path%></li>
							<li class=""><%= link_to  "Listar", customers_path%></li>
						</ul>
					</li>
					<li class="col-md">
						<a class="">Facturas</a>
						<ul>
							<li class=""><%= link_to  "Agregar", new_customer_path%></li>
							<li class=""><%= link_to  "Buscar", root_path%></li>
							<li class=""><%= link_to  "Listar", customers_path%></li>
						</ul>
					</li>
					<li class="col-md">
						<a class="">Productos</a>
						<ul>
							<li class=""><%= link_to  "Agregar", new_product_path%></li>
							<li class=""><%= link_to  "Buscar", root_path%></li>
							<li class=""><%= link_to  "Listar", products_path%></li>
						</ul>
					</li>
					<li class="col-md">
						<a class="">Materias</a>
						<ul>
							<li class=""><%= link_to  "Agregar", new_matter_path%></li>
							<li class=""><%= link_to  "Buscar", root_path%></li>
							<li class=""><%= link_to  "Listar", matters_path%></li>
						</ul>
					</li>
					<li class="col-md">
						<a class="">Pedido</a>
						<ul>
							<li class=""><%= link_to  "Agregar", new_order_path%></li>
							<li class=""><%= link_to  "Buscar", root_path%></li>
							<li class=""><%= link_to  "Listar", orders_path%></li>
						</ul>
					</li>
					<li class="col-md">
						<a>Asistencia</a>
					</li>
					<li class="col-md">
						<a><span class="icon-cog"></span></a>
						<ul>
							<li class="">
								<%= link_to "Editar Perfil", root_path %>
								<% #edit_usuario_session_path(current_usuario) %>
							</li>
							<li>
								<%= link_to "Cerrar sesion", destroy_usuario_session_path, method: :delete%>
							</li>
						</ul>
						
					</li>
				<% else %>
					<li class="col-md">
						<%= link_to "Ingresar", new_usuario_session_path%>
					</li>
					<li class="col-md">
						<%= link_to "Registrarse", new_usuario_registration_path%>
					</li>
					<% end %>
			</ul>
		</nav>
	</header>
	<p class="notice" style="<%="display:none;" if notice.nil? %>"><%= notice %></p>
	<p class="alert" "<%="display:none;" if alert.nil? %>"><%= alert %></p>
	<%= yield %>
</body>
</html>